# Virtual Environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local

# IDE specific files
.idea/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/
